.mainTable {
  border-collapse: collapse;
  margin: 25px 0;
  font-size: 0.9em;
  font-family: sans-serif;
  min-width: 400px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.mainTable thead tr {
  background-color: #009879;
  color: #ffffff;
  text-align: left;
}

.mainTable th,
.mainTable td {
  padding: 12px 15px;
}

.mainTable tbody tr {
  border-bottom: 1px solid #dddddd;
}

.mainTable tbody tr:nth-of-type(even) {
  background-color: #f3f3f3;
}

.mainTable tbody tr:last-of-type {
  border-bottom: 2px solid #009879;
}

.mainTable tbody tr.active-row {
  font-weight: bold;
  color: #009879;
}
